Source: budgie-screenshot-applet
Section: misc
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 9),
 dh-autoreconf,
 gobject-introspection,
 libgtk-3-dev,
 libpeas-dev,
 valac,
 gir1.2-budgie-desktop-1.0,
 budgie-core-dev,
 libbudgie-plugin0,
 libjson-glib-dev,
 libnotify-dev,
 librest-dev,
 libgnome-desktop-3-dev
Standards-Version: 3.9.7
Vcs-Browser: https://github.com/budgie-remix/budgie-screenshot-applet/tree/debian
Vcs-Git: https://github.com/budgie-remix/budgie-screenshot-applet -b debian
Homepage: https://github.com/cybre/budgie-screenshot-applet


Package: budgie-screenshot-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 gnome-screenshot
Description: budgie-desktop screenshot-applet
 A budgie-desktop applet for taking and uploading screenshots to 
 Imgur and Imagebin.
