Source: budgie-screenshot-applet
Section: misc
Priority: optional
Maintainer: David Mohammed <fossfreedom@ubuntu.com>
Build-Depends: debhelper (>= 10),
 gobject-introspection,
 libgtk-3-dev,
 valac,
 budgie-core-dev,
 libbudgie-plugin0,
 libjson-glib-dev,
 libgnome-desktop-3-dev,
 meson,
 libsoup2.4-dev
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/UbuntuBudgie/budgie-screenshot-applet/tree/debian
Vcs-Git: https://github.com/UbuntuBudgie/budgie-screenshot-applet -b debian
Homepage: https://github.com/cybre/budgie-screenshot-applet

Package: budgie-screenshot-applet
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
 gnome-screenshot
Description: Budgie Desktop screenshot applet
 A budgie-desktop applet for taking and uploading screenshots to 
 Imgur and Imagebin.
 .
 This is a GTK+3 applet specifically written for the Budgie Desktop.
 The package installs itself in the Budgie Desktop plugins folder.
 An appstream meta-info file is installed to allow applications such
 as GNOME Software Center to display details of the applet.
 The applet stores user based configuration data through its own
 GLib Schema.
